* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Life Savers', cursive;
}

:root {
  --font-medium: 1.25rem;
  --font-regular: 1rem;
  --font-small: 0.75rem;

  --color-main: rgb(204, 204, 204);
  --color-second: rgb(165, 165, 165);
  --color-third: rgb(133, 133, 133);
}

body {
  overflow-y: scroll;
  background: rgb(202, 202, 202);
}
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-main);

  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-second);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-third);
}
